<% if notice %>
<p id="nitice"><%= notice %></p>
<% end %>
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Depot Online Store!</p>
  <button class="btn btn-default" type="submit"><%= link_to('About author', 'http://istudent.blog.com/') %></button>
</div>

<h1>Your Pragmatic Catalog</h1>
